:root {

    --sml-header-zindex: 9999;
    --sml-header-height: 50px;
    --sml-header-bg: var(--white);
    --sml-header-color: var(--colors-bluegray-900);
    --sml-header-shadow: 0 0 var(--gap-md) 0 var(--colors-bluegray-900);
    
    --sml-header-brand-font-size: 24px;
    --sml-header-brand-text-decoration: none;
    --sml-header-brand-color: var(--sml-theme-primary-color);
    --sml-header-brand-font-weight: 400;

    --sml-header-nav-item-font-size: 14px;
    --sml-header-nav-item-text-decoration: none;
    --sml-header-nav-item-color: var(--sml-header-color);
    --sml-header-nav-item-font-weight: 400;

    --sml-main-height: var(--sml-header-height);

    --sml-code-bg: var(--colors-bluegray-200);
    --sml-code-padding: var(--gap-md);
    --sml-code-color: var(--white);
    --sml-code-elm-color: var(--colors-gold-600);
    --sml-code-attr-color: var(--colors-gold-200);
    --sml-code-val-color: var(--white);
    --sml-code-string-val-color: var(--colors-green-500);
    --sml-code-font-weight: 400;

    --sml-footer-gap: var(--gap-md);
    --sml-footer-bg: var(--colors-bluegray-900);
    --sml-footer-color: var(--colors-bluegray-200);
    --sml-footer-padding: var(--gap-lg);
    --sml-footer-margin: var(--gap-xl) 0 0 0;

    --sml-grid-gap: var(--gap-md);

    --sml-iframe-border: 2px solid var(--colors-bluegray-200);
    --sml-iframe-box-shadow: 0 var(--gap-md) var(--gap-md) 0 var(--colors-bluegray-900);
}

/* Header */

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--sml-header-height);
    background: var(--sml-header-bg);
    box-shadow: var(--sml-header-shadow);
    z-index: var(--sml-header-zindex);
    color: var(--sml-header-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .brand {
    text-decoration: var(--sml-header-brand-text-decoration);
    font-size: var(--sml-header-brand-font-size);
    color: var(--sml-header-brand-color);
    font-weight: var(--sml-header-brand-font-weight);
}

header section.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap-lg);
}

header nav .nav-item {
    text-decoration: var(--sml-header-nav-item-text-decoration);
    font-size: var(--sml-header-nav-item-font-size);
    color: var(--colors-bluegray-200);
    font-weight: var(--sml-header-nav-item-font-weight);
    transition: all .2s ease-in-out;
}
header nav .nav-item:hover {
    color: var(--sml-header-brand-color);
}

header nav .nav-item svg {
    fill: var(--colors-bluegray-200);
    height: 20px;
}
header nav .nav-item:hover svg {
    fill: var(--sml-header-brand-color);
}

/* Main */

main {
    padding: calc(var(--sml-main-height) + var(--gap-xl)) 0 0 0;
}

/* Section */

section,
.section {
    padding: 0 var(--gap-md);
    margin-right: auto;
    margin-left: auto;
}

section > section,
section > .section,
.section > section,
.section > .section {
    padding: 0;
}

section ~ section,
section ~ .section,
.section ~ section,
.section ~ .section {
    margin-top: var(--gap-lg);
}

@media (min-width: 600px) {
    section.container,
    .section.container {
        width: 540px;
    }
}

@media (min-width: 960px) {
    section.container,
    .section.container {
        width: 840px;
    }
}

@media (min-width: 1200px) {
    section.container,
    .section.container {
        width: 1140px;
    }
}

@media (min-width: 1920px) {
    section.container,
    .section.container {
        width: 1680px;
    }
}

@media (min-width: 2560px) {
    section.container,
    .section.container {
        width: 1680px;
    }
}

@media (min-width: 1920px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) and (min-resolution: 2dppx) {
    section.container,
    .section.container {
        width: 1920px;
    }
}

/* Hidden */

@media (max-width: 600px) {
    .hidden-on-mobile {
        display: none;
    }
}

@media (max-width: 960px) {
    .hidden-on-tablet {
        display: none;
    }
}

/* PRE */

.sml-code {
    font-family: Monospace;
    background: var(--sml-code-bg);
    padding: var(--sml-code-padding);
    color: var(--sml-code-color);
    font-weight: var(--sml-code-font-weight);
}

.sml-code .row {
    display: flex;
}
.sml-code .row > .row {
    margin-left: var(--gap-lg);
}

.sml-code .sml-elm {
    color: var(--sml-code-elm-color);
}

.sml-code .sml-attr {
    color: var(--sml-code-attr-color);
}

.sml-code .sml-val {
    color: var(--sml-code-val-color);
}

.sml-code .sml-string-val {
    color: var(--sml-code-string-val-color);
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-md);
    background: var(--sml-footer-bg);
    color: var(--sml-footer-color);
    padding: var(--sml-footer-padding);
    margin: var(--sml-footer-margin);
}

footer svg {
    fill: var(--sml-footer-color);
    height: 20px;
}

/* Grid */

[class*="grid-"] {
    display: grid;
    grid-gap: var(--sml-grid-gap);
    grid-auto-rows: minmax(150px, auto);
    position: relative;
}

.grid-1 {
    grid-template-columns: repeat(1, 1fr);
}
.grid-2 {
    grid-template-columns: repeat(2, 1fr);
}
.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}
.grid-4 {
    grid-template-columns: repeat(4, 1fr);
}
.grid-5 {
    grid-template-columns: repeat(5, 1fr);
}
.grid-6 {
    grid-template-columns: repeat(6, 1fr);
}

@media (max-width: 960px) {
    [class*="grid-"] {
        grid-template-columns: repeat(1, 1fr); 
    }
}

/* Align */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Iframe */

iframe {
    border: var(--sml-iframe-border);
    box-shadow: var(--sml-iframe-box-shadow);
}